<%- include('partials/header') -%>
<div class="container">
  <h1> <%= title %> </h1>
  <p> <%= post %> <a class="delete-btn" href="/delete/<%=id%>"> Delete </a> </p>
</div>
<%- include('partials/footer') -%>
